<div class="container justify-content-center align-content-center mt-5">
  <div class="row">
    <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
      <div class="text-center">
        <img
          class="mb-4"
          src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"
          alt=""
          width="72"
          height="57"
        />
        <h1>Kayıt Formu</h1>
      </div>
      <div class="form-group">
        <label for="nameSurName">Ad Soyad</label>
        <input
          type="text"
          formControlName="nameSurName"
          class="form-control"
          id="nameSurName"
          placeholder="Ad Soyad"
          [ngClass]="{
            'is-invalid': submitted && component.nameSurName.errors
          }"
        />
        <small
          class="form-text text-muted invalid-feedback"
          *ngIf="submitted && component.nameSurName.errors?.required"
          >Lütfen ad soyadı boş geçmeyiniz.</small
        >
        <small
          class="form-text text-muted invalid-feedback"
          *ngIf="
            submitted &&
            (component.nameSurName.errors?.minLength ||
              component.nameSurName.errors?.maxLength)
          "
          >Lütfen ad soyadı 3 ile 50 karakter arasında yazınız.</small
        >
      </div>
      <div class="form-group">
        <label for="userName">Kullanıcı Adı</label>
        <input
          type="text"
          formControlName="userName"
          class="form-control"
          id="userName"
          placeholder="Kullanıcı Adı"
          [ngClass]="{ 'is-invalid': submitted && component.userName.errors}"
        />
        <small
          class="form-text text-muted invalid-feedback"
          *ngIf="submitted && component.userName.errors?.required"
          >Lütfen kullanıcı adını boş geçmeyiniz.</small
        >
        <small
          class="form-text text-muted invalid-feedback"
          *ngIf="
            submitted &&
            (component.userName.errors?.minLength ||
              component.nameSurName.errors?.maxLength)
          "
          >Lütfen kullanıcı adını 3 ile 50 karakter arasında yazınız.</small
        >
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="email"
          placeholder="Email"
          [ngClass]="{ 'is-invalid': submitted && component.email.errors }"
        />
        <small
          class="form-text text-muted invalid-feedback"
          *ngIf="submitted && component.email.errors?.required"
          >Lütfen emaili boş geçmeyiniz.</small
        >
        <small
          class="form-text text-muted invalid-feedback"
          *ngIf="submitted && component.email.errors?.email"
          >Lütfen emaili düzgün giriniz.</small
        >
      </div>
      <div class="form-group">
        <label for="password">Şifre</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="password"
          placeholder="Şifre"
          [ngClass]="{'is-invalid':submitted && component.password.errors?.required}"
        />
        <small
        class="form-text text-muted invalid-feedback"
        *ngIf="submitted && component.password.errors?.required"
        >Şifre alanını boş geçmeyiniz</small
      >
      </div>
      <div class="form-group">
        <label for="passwordConfirm">Şifre Tekrar</label>
        <input
          type="password"
          formControlName="passwordConfirm"
          class="form-control"
          id="passwordConfirm"
          placeholder="Şifre Tekrar"
          [ngClass]="{'is-invalid':submitted&&component.passwordConfirm.errors?.required}"
        />
        <small
        class="form-text text-muted invalid-feedback"
        *ngIf="submitted && component.passwordConfirm.errors?.required"
        >Şifre alanını boş geçmeyiniz</small
      >
        <small>Lütfen şifreyi doğrulayınız.</small>
      </div>
      <br />
      <button type="submit" class="btn btn-primary float-end">Kayıt Ol</button>
    </form>
  </div>
</div>
