<div
  class="container d-flex align-items-center py-4 bg-body-tertiary justify-content-center"
>
  <main class="form-signin w-100">
    <form class="needs-validation">
      <div class="text-center">
        <img
          class="mb-4"
          src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"
          alt=""
          width="72"
          height="57"
        />
      </div>

      <h1 class="h3 mb-3 fw-normal">Kullanıcı Kayıt Formu</h1>

      <div class="form-floating m-2 col-12">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          #txtUserName
        />
        <label for="floatingInput">Kullanıcı Adınız</label>
      </div>
      <div class="form-floating m-2 col-12">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          #txtEmailAddress
        />
        <label for="floatingInput">Email Adresiniz</label>
      </div>
      <div class="form-floating m-2 col-12">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          #txtPassword
        />
        <label for="floatingInput">Şifreniz</label>
      </div>
      <div class="form-floating m-2 col-12">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          #txtPasswordConfirm
        />
        <label for="floatingPassword">Şifreniz (Tekrar)</label>
      </div>

      <div class="form-check text-start my-3 col-12">
        <input
          class="form-check-input"
          type="checkbox"
          value="remember-me"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Beni Hatırla
        </label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="button">Kayıt Ol</button>
      <p class="mt-5 mb-3 text-body-secondary text-center">© 2023</p>
    </form>
  </main>
</div>
