<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div id="footer" class="hidden-xs footer">
  <span id="copyright"
    ><a ng-href="/en/about" href="">{{ "footer-pattent" | translate }}</a></span
  >
  <div id="social-icons" class="social-icons-hover">
    <a
      rel="noopener"
      target="_blank"
      aria-label="Instagram"
      ng-href="https://www.instagram.com/battery"
      href="https://www.instagram.com/battery"
      ><i class="instagram ico ico-instagram"></i
    ></a>
    <a
      rel="noopener"
      target="_blank"
      aria-label="Twitter"
      ng-href="https://twitter.com/battery_com"
      href="https://twitter.com/battery_com"
      ><i class="twitter ico ico-twitter"></i
    ></a>
    <a
      rel="noopener"
      target="_blank"
      aria-label="Facebook"
      ng-href="https://facebook.com/battery"
      href="https://facebook.com/battery"
      ><i class="facebook ico ico-facebook2"></i
    ></a>
    <a
      rel="noopener"
      target="_blank"
      aria-label="Linked in"
      ng-href="https://www.linkedin.com/company/battery-elektrikli-araclar-sarj-sistemleri"
      href="https://www.linkedin.com/company/battery-elektrikli-araclar-sarj-sistemleri"
      ><i class="linkedin ico ico-linkedin"></i
    ></a>
    <a
      rel="noopener"
      target="_blank"
      aria-label="Youtube"
      ng-href="https://www.youtube.com/user/batterynetwork"
      href="https://www.youtube.com/user/batterynetwork"
      ><i class="youtube ico ico-youtube"></i
    ></a>
    <a href="/feed/rss" target="_blank" aria-label="RSS Feed"
      ><i class="rss ico ico-rss"></i
    ></a>
    &nbsp;
  </div>
</div>
