<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <a
        class="btn btn-success mb-3 mt-3"
        aria-current="page"
        routerLink="create"
        routerLinkActive="active"
        >Yeni Ürün Ekle</a
      >
    </div>
    <h2>Ürünler</h2>
    <table class="table" id="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Ürün Adı</th>
          <th scope="col">Açıklama</th>
          <td>İşlem</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of dataSource">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td [id]="product.id" appDelete></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
