<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <a
        class="btn btn-success mb-3 mt-3"
        aria-current="page"
        routerLink="create"
        routerLinkActive="active"
        >Yeni Ürün Ekle</a
      >
    </div>
    <h2>Ürünler</h2>
      <table *ngIf="productList.length"  id="table" class="table table-hover table-striped table-bordered mb-5">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Ürün Adı</th>
          <th scope="col">Açıklama</th>
          <td>İşlem</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productList">
          <td>{{ item.id}}</td>
          <td>{{ item.name}}</td>
          <td>{{ item.description}}</td>

          <td 
          [id]="item.id"
          controller="products" 
          appDelete (callback)="getProducts()"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
