<div class="container">
  <h3>Ayarlar</h3>
<form class="settings" novalidate="">
  <div class="row g-3">
    <div class="col-12">
      <label for="email" class="form-label">Site Başlık</label>
      <input type="email" class="form-control" id="email" placeholder="Site Başlık">
    </div>
    <div class="col-12">
      <label for="address" class="form-label">Meta Keywords</label>
      <input type="text" class="form-control" id="address" placeholder="Meta Keywords" required="">
    </div>
    <div class="col-12">
      <label for="address2" class="form-label">Meta Description</label>
      <textarea type="text" class="form-control" id="address2" rows="3" placeholder="Meta Description"></textarea>
    </div>
    <div class="col-12">
      <label for="logo" class="form-label">Logo</label>
      <input type="file" class="form-control" id="logo">
    </div>
    <div class="col-12">
      <label for="favicon" class="form-label">Favicon</label>
      <input type="file" class="form-control" id="favicon">
    </div>
  </div>
  <hr class="my-4">
  <button class="btn btn-success btn-md justify-content-center pull-left" type="submit">Kaydet</button>
</form>
</div>