<div class="container mt-5">
  <div class="row">
    <h2>Dil Seçenekleri</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of jsonDataTr | keyvalue; let i = index">
          <td hidden>{{ i }}</td>
          <td>{{ item.key }}</td>
          <td>
            <input type="text" [(ngModel)]="item.value" />
          </td>
          <td>
            <button (click)="updateValue(item.key, item.value)">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
