<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">BatteryApp</div>
    <div class="list-group list-group-flush">
      <a
        class="nav-link list-group-item list-group-item-action bg-light"
        aria-current="page"
        routerLink="index"
        routerLinkActive="active"
        >Dashboard</a
      >
      <a
        class="nav-link list-group-item list-group-item-action bg-light"
        aria-current="page"
        routerLink="users"
        routerLinkActive="active"
        >Users</a
      >
      <a
        class="nav-link list-group-item list-group-item-action bg-light"
        aria-current="page"
        routerLink="products"
        routerLinkActive="active"
        >Products</a
      >
      <a
        class="nav-link list-group-item list-group-item-action bg-light"
        aria-current="page"
        routerLink="slider"
        routerLinkActive="active"
        >Slider</a
      >
      <a
        class="nav-link list-group-item list-group-item-action bg-light"
        aria-current="page"
        routerLink="settings"
        routerLinkActive="active"
        >Settings</a
      >
      <a
        class="nav-link list-group-item list-group-item-action bg-light"
        aria-current="page"
        routerLink="sss"
        routerLinkActive="active"
        >SSS</a
      >
      <a
        class="nav-link list-group-item list-group-item-action bg-light"
        aria-current="page"
        routerLink="lang"
        routerLinkActive="active"
        >Lang</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="btn btn-primary" (click)="clickEvent()">
          Toggle Menu
        </button>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="" class="nav-link active" aria-current="page">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
