<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a
          class="nav-link"
          aria-current="page"
          routerLink=""
          routerLinkActive="active"
          >{{ "home" | translate }}</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  routerLink=""
                  routerLinkActive="active"
                  >{{ "home" | translate }}</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  routerLink="products"
                  routerLinkActive="active"
                  >{{ "products" | translate }}</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ "corporate" | translate }}
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="nav-link"
                      aria-current="page"
                      routerLink="about"
                      routerLinkActive="active"
                      >{{ "about" | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="nav-link"
                      aria-current="page"
                      routerLink="faq"
                      routerLinkActive="active"
                      >{{ "faq" | translate }}</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  routerLink="contact"
                  routerLinkActive="active"
                  >{{ "contact" | translate }}</a
                >
              </li>

              <li class="nav-item dropdown">
                <select #language (change)="onChange(language.value)">
                  <option
                    *ngFor="let lang of translateService.getLangs()"
                    [value]="lang"
                  >
                    <ng-container [ngSwitch]="lang">
                      <ul class="dropdown-menu">
                        <ng-container *ngSwitchCase="'tr'">
                          <li>
                            <img
                              class="icon-flag"
                              src="assets/icons/tr.svg"
                              alt="Turkish Flag"
                            />
                            {{ "tr" | translate }}
                          </li>
                        </ng-container>
                        <ng-container *ngSwitchCase="'en'">
                          <li>
                            <img
                              class="icon-flag"
                              src="assets/icons/en.svg"
                              alt="English Flag"
                            />
                            {{ "en" | translate }}
                          </li>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ lang | translate }}
                        </ng-container>
                      </ul>
                    </ng-container>
                  </option>
                </select>
              </li>

              <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href=""
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ "lang" | translate }}
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="nav-link"
                      aria-current="page"
                      routerLinkActive="active"
                      ><img
                        class="icon-flag"
                        src="assets/icons/tr.svg"
                        alt="Turkish Flag"
                      />
                      Turkish</a
                    >
                  </li>
                  <li>
                    <a
                      class="nav-link"
                      aria-current="page"
                      routerLinkActive="active"
                      ><img
                        class="icon-flag"
                        src="assets/icons/en.svg"
                        alt="English Flag"
                      />
                      English</a
                    >
                  </li>
                </ul>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>