<div class="container mx-auto">
    <h1 class="text-center">Products</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="list" *ngFor="let product of productList">
    <div class="col" >
      <div class="card h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <button class="btn btn-success">Detay</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>